<!DOCTYPE html>
<html>
  <head>
    <title>Slime Wire</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div id="app">i am in your walls -V1 Ultrakill</div>
  </body>
</html>
